SECRET_KEY = 

DEBUG=

# allowed hosts and CORS settings
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

# Session Settings
SESSION_COOKIE_SAMESITE=
SESSION_COOKIE_SECURE=

# Email Settings
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_USE_TLS=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD='

ADMIN_EMAIL=
SITE_URL=
DEFAULT_FROM_EMAIL=

# database settings
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Google OAuth2 settings
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_REDIRECT_URI=

DEFAULT_AUTO_FIELD='django.db.models.BigAutoField'

# Cache
REDIS_URL=redis://redis:6379/0

# RapidAPI and Walmart API Credentials
RAPIDAPI_KEY=replace_with_your_rapidapi_key

# stripe settings
STRIPE_PUBLIC_KEY=pk_test_
STRIPE_SECRET_KEY=sk_test_


# STRIPE_WEB
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
STRIPE_CONNECT_REFRESH_URL=
STRIPE_CONNECT_RETURN_URL=